body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* The navbar container */
.navbar-inverse {
    overflow: hidden;
    background-color: #fbf9f9;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: rgba(8, 8, 8, 0);
}

.navbar-inverse  .navbar-nav li a {
    text-decoration: none;
    color: #080808;
    
}
.navbar-inverse .navbar-nav li a:hover {
    background-color: #060606;
    color: rgb(251, 244, 244);
}

.navbar-inverse .menu {
    background-color: #f33f3f;
    border-bottom: 3px solid #c0c0c0;
}
.navbar-inverse .menu li {
    color: white;
    border-right: 1px solid #c0c0c0; 
}